name: Random PR Reviewer
on: pull_request

jobs:
  random-reviewer:
    runs-on: ubuntu-16.04

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Extract global code owners
        run: grep "^*\s*" CODEOWNERS | grep -o "@[^ ]*"  | sed -e 's/@\(.*\)\/\(.*\)/\1\/team\/\2/g' > teams

      - name: Fetch team members
        run: |
          while read team; do
            $response=`curl "https://api.github.com/orgs/$team/members" -H "Authorization:Bearer ${{ secrets.GITHUB_TOKEN }}"`
            echo $response
            cat $response | jq -r '.[].login' >> members
          done <teams